.DS_Store
.gitignore~
build/
*.xcuserstate
MacGuarder.xcodeproj/xcuserdata/
MacGuarder.xcodeproj/project.xcworkspace/xcshareddata/
MacGuarder.xcodeproj/project.xcworkspace/xcuserdata/
MacGuarder.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
